@tailwind base;
@tailwind components;
@tailwind utilities;

.links-container {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.links {
    margin: 15px;
    justify-self: center;
    font-weight: 600;
}

.homepage {
    width: 100vw;
    height: 100vh;
}

.about-page {
    width: 100vw;
    height: 100vh;
}

.contact-page {
    width: 100vw;
    height: 100vh;
}

.shop-page {
    width: 100vw;
    height: 100vh;
}